<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表过渡</title>
    <style>
        .bounce-enter-active{
            animation: bounce-in .5s;
        }
        .bounce-leave-active{
            animation: bounce-in .5s reverse;
        }
        @keyframes bounce-in{
            0%{
                transform: translateX(100px);
                opacity: 0;
            }
            100%{
                transform: translateX(0px);
                opacity: 1;
            }
        }
    </style>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="box">
        <input type="text" v-model="mytext">
        {{mytext}}
        <button @click="handleAddClick">add</button>
            <transition-group tag="ul" name="bounce">
                <li v-for="(data,index) in datalist" :key="data">
                    {{data}}--{{index}}
                    <button @click="handleDelClick(index)">del</button>
                </li>
            </transition-group>
    </div>
    <script>
        var vm = new Vue({
            el:"#box",
            data:{
                datalist:[],
                mytext:'sss',
            },
            methods: {
                handleAddClick(){
                    this.datalist.push(this.mytext)
                },
                handleDelClick(index){
                    console.log("delete",index);
                    this.datalist.splice(index,1);
                }
            },
        })

    </script>
</body>
</html>