<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-else</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id='box'>
        <button @click='handleClick()'>按钮</button>
        <div v-if='isCreate'>动态创建first</div>
        <div v-else>动态创建second</div>

        <ul v-if='datalist.length'>
            <li v-for='data in datalist'>
                {{data}}
            </li>
        </ul>

        <div v-else>购物车空空如也</div>

        <div v-if='which===1'>111</div>
        <div v-else-if='which===2'>222</div>
        <div v-else-if='which===3'>333</div>
        <div v-else>444</div>
    </div>
    <script>
        var vm = new Vue({
            el:'#box',
            data:{
                isCreate:false,
                datalist:['qwer','sadf'],
                which:3
            },
            methods:{
                handleClick(){
                    this.isCreate = !this.isCreate,
                    this.datalist = ['qmn','zss']
                }
            },
        })
    </script>
</body>
</html>