<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for列表循环</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="box">
        <ul>
            <li v-for='(data,index) in datalist'>
                {{data}}--{{index}}
            </li>
        </ul>

        <ul>
            <li v-for='(data,key) of obj'>
                {{data}}--{{key}}
            </li>
        </ul>

        <script>
            var vm = new Vue({
                el:'#box',
                data:{
                    datalist:['111','222'],
                    obj:{
                        name:"zss",
                        age:'300',
                        location:'Nanjing',
                    }
                },
            })
        </script>
    </div>
</body>
</html>