<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模糊查询</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="box">
        <input type="text" @input='handleInput()' v-model="myText">
        <ul>
            <li v-for='data in datalist'>
                {{data}}
            </li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el:'#box',
            data:{
                myText:'',
                datalist:['aaa','bbb','ccc','ddd','add','cee','eee'],
                list:['aaa','bbb','ccc','ddd','add','cee','eee'],
            },
            methods: {
                handleInput(){
                console.log(this.myText);
                var newList = this.list.filter(item=>item.indexOf(this.myText)>-1);
                this.datalist = newList;
                }
            },
        })
    </script>
</body>
</html>